.input {
    width: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border-radius: 0 !important;
}